<nav class="topnav">
    <div class="topnav-inner">
        <a class="topnav-brand" href="/">
            <span class="brand-icon">&#127915;</span>
            Voucher Generator
        </a>

        <input type="checkbox" id="nav-toggle" class="nav-toggle-input" title="Toggle navigation" />
        <label for="nav-toggle" class="nav-toggle-label" aria-label="Toggle navigation">
            <span></span><span></span><span></span>
        </label>

        <div class="nav-links">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                &#127915; Generate
            </NavLink>
            <NavLink class="nav-link" href="/history">
                &#128337; History
            </NavLink>
        </div>
    </div>
</nav>

